@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-y: hidden;
}

.team-container div {
    width: 20%;
    height: 50%;
}

.team-container div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
